*{
    margin: 0;
    padding: 0;}

    html{
        line-height: 1.6em;
    }

    #skipnav {display:grid;
        place-items: center;
        font-family:Montserrat;
        background-color: #324AA4;
        height: 44px;
       
         }
         #skipnav a{color: #fff;
            
              }
              #skipnav a:hover{
                outline:solid 1px #ffffff;
             
             background-color: aliceblue;
            color: black;}
              #skipnav a:focus{
                 outline:solid 1px #ffffff;
             outline-offset: 0;
             background-color: aliceblue;
            color: black;}
            
.container{
    display: grid;
    height:100%;
    grid-template-columns:1fr ;
    grid-template-rows:0.1fr 0.5fr 0.7fr 0.7fr 0.1fr;
    grid-template-areas: "nav" "main" "communicate" "whatwedo" "footer" ;}



/* link property start */
a{
    text-decoration: none;
    color: black;}
    

a:focus{
    outline:solid 3px #324AA4;
outline-offset: 3px;
background-color: aliceblue;
color: black;
}

a:hover{ 
    outline:solid 1px #324AA4;
    
    background-color: aliceblue;}
    
    
    

#active{
    text-decoration:underline;
    text-decoration-color: #324AA4;
    text-underline-offset: 2px;
    text-decoration-thickness: 3px;
    font-weight: bold;}



a:visited{text-decoration: none;}


/* link property end */ 

/* desktopnav property start */
nav{
    grid-area: nav;
    z-index: 10;
    /* font-family:Montserrat;
    background-color: rgb(255, 255, 255);
    font-size:16px;
    display:flex;
    align-items:center;
    height:100px;
    width:90%;
    margin:0 auto;
    justify-content: space-between;} */}


    .desktop-nav{
        font-family:Montserrat;
        background-color: rgb(255, 255, 255);
        font-size:16px;
        display:flex;
        align-items:center;
        height:100px;
        width:90%;
        margin:0 auto;
        justify-content: space-between;
        
    }


    .logo{display:grid;
    place-items: center;}
.logo:hover{background-color: #ffffff;
outline: none;}
 .chat:hover{
        background-color: #ffffff;} 
        
          

nav ul{
    display: flex;}
    

nav li{
    list-style-type: none;
    padding: 0;}

.navlistcenter{
    padding: 5px 25px;}


.contactandchat{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;}
   

.contactus{
    padding: 10px 20px;
    /* margin:0px 15px; */
    font-size: 16px;
    color: white;
    background-color: black;
    border-color: black;}

    .contactus:hover{ 
        outline:solid 1px #324AA4;
        color: black;
        background-color: aliceblue;}
    h1{
        font-size: 16px;
    }
    
/* desktopnav property end */

/* mobile pnav property start */

  /* mobile pnav property end */

/* main property starts */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: #000;
    position: relative;
}


.contactus2{
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    font-family: Montserrat;
    /* margin:0px 15px; */
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-color: black;
border-radius: 10px;
z-index:1;}

.contactus2:hover{
    
    border: solid 3px #E9C2F8;
    border-radius: 10px;
    background-color: #000000;
    
color: #fff;}

.contactus2:focus{
    border-radius: 10px;
    outline: solid 3px #324AA4;
    -moz-outline-radius:10px;
    
    
    
    background-color: #000000;
color: #fff;}

.circle{
    position: relative;
    width:700px;
    height:700px;
    filter:url(#wavy) blur(1px);
}

.circle:before{
    content:'';
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    /* box-shadow: 0 0 50px #0f0,inset 0 0 50px #0f0; */
    /* box-shadow: 0 0 70px rgb(25, 0, 255),inset 0 0 70px rgb(25, 0, 255); */
    /* -webkit-box-reflect:below 10px liner-gradient(transparent,#0002); */
    animation: animate 7s linear infinite;
}
.circle:after{
    content:'';         
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    border:1px solid #fff;
    border-radius: 50%;
    /* box-shadow: 0 0 50px #0f0,inset 0 0 50px #0f0; */
    /* box-shadow: 0 0 100px #FFF,inset 0 0 0px #fff; */
    /* -webkit-box-reflect:below 10px liner-gradient(transparent,#0002); */
    animation: animate 7s linear infinite;
}

/* .circle:nth-child(2):before
{animation-delay: -2s;} */
@keyframes animate
{0%
    {box-shadow: 0 0 70px rgb(25, 0, 255),inset 0 0 70px rgb(25, 0, 255);
    filter:hue-rotate(0deg)}

    20%
 {box-shadow: 0 0 80px rgb(25, 0, 255),inset 0 0 80px rgb(25, 0, 255); }

 40%
 {box-shadow: 0 0 50px rgb(25, 0, 255),inset 0 0 50px rgb(25, 0, 255); }

 60%
 {box-shadow: 0 0 100px rgb(25, 0, 255),inset 0 0 100px rgb(25, 0, 255); }

 80%
 {box-shadow: 0 0 120px rgb(25, 0, 255),inset 0 0 120px rgb(25, 0, 255); }

 100% 
 {box-shadow: 0 0 70px rgb(25, 0, 255),inset 0 0 70px rgb(25, 0, 255);
    filter:hue-rotate(360deg)} 
   
}
svg{
    width:0;
    height:0;
}

/* toggle switch start */

/* .onoff{
    font-family:Montserrat;
    background-color: black;
    border:none;
    color: #FFF;
    font-size: 16px;
    position: absolute;
    bottom: 3%;
    left: 7%;
   
    
}
.onoff:hover{
    border: solid 2px #E9C2F8;
    padding: 2px;
    background-color: #000000;
color: #fff;}

.onoff:focus{
    outline: solid 3px #324AA4;
    padding: 5px;
    background-color: #000000;
color: #fff;} */



/* 
accessible switch */
.animationswitch{
    position: absolute;
    bottom: 3%;
    left: 10%;
   
}
label{
    font: 14px "Open Sans", "Arial", sans-serif;
    line-height: 20px;
    user-select: none;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    color: #FFF;
    pointer-events: none;
}
button.switch {
    
    background-color: black;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    border: 2px solid rgb(255, 255, 255);
    display: inline-block;
    border-radius: 5px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    font: 14px "Open Sans", "Arial", serif;
    cursor: pointer;
  }
  
  button.switch span {
    padding: 0 4px;
    pointer-events: none;
  }
  
  [role="switch"][aria-checked="false"] :first-child,
  [role="switch"][aria-checked="true"] :last-child {
    background:#ffffff;
    color: rgb(0, 0, 0);
  }
  
  [role="switch"][aria-checked="false"] :last-child,
  [role="switch"][aria-checked="true"] :first-child {
    color: rgb(219, 219, 219);
  }

 

  .switch:hover{
    border: solid 2px #E9C2F8;
    
    background-color: #000000;
color: #fff;}

.switch:focus{
    outline: solid 3px #324AA4;
    outline-offset: 3px;
    
    background-color: #000000;
color: #fff;}






/* toggle switch end*/

/* label{
    position: relative;
    position: absolute;
    bottom: 3%;
    left: 7%;
    width: 80px;
    height:80px;
    cursor: pointer;
    border-radius: 50%;
}
label .btn{
    position: absolute;
    top:0;
    left:0;
    display: block;
    width:100%;
    height:100%;
    background: #1b1b1b;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0,0,0,1),
                inset 0 -2px 5px rgba(0,0,0,1),
                inset 0 2px 2px rgba(255,255,255,0.5),
                0 0 0 2px #000,
                0 0 0 5px #0c0c0c,
                0 0 0 5.5px #080808;
}
label input[type="checkbox"]:checked ~.btn
{
    
        box-shadow: 0 0 0 rgba(0,0,0,1),
        inset 0 -2px 5px rgba(0,0,0,1),
        inset 0 1px 1px rgba(255,255,255,0.1),
        0 0 0 2px #000,
        0 0 0 5px #0c0c0c,
        0 0 0 5.5px #01a1ff;  
     
}
label input[type="checkbox"]

{
    -webkit-appearance: none;
}
label .fa{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 2.5em;
    color:#0c0c0c;
}
label input[type="checkbox"]:checked ~ .fa
{color: #00ffe7;
text-shadow: 0 0 15px #00a1ff, 
           0 0 30px #00a1ff;}  */
/* main property ends */

/* main div1 start */
 .communicate{
    
     display: grid;
    grid-area: communicate;
    background-color: #E9FAFE;
    display: grid;
    width: 100%;
    height:100%;
    grid-template-columns:1.5fr 0.5fr;
    grid-template-rows:0.4fr 0.8fr 0.2fr;
    grid-template-areas: "connect connect" "sign2 AAA" "sign2 learn";
    margin: 0 auto;
font-family: Montserrat;
padding-bottom: 50px;

} 
.connect{
    font-size: 30px;
    grid-area: connect;
    align-self: center;
    justify-self: center;

}
.sign2{
    grid-area: sign2;
    max-width: 95%;
    
}
.AAA p{
    grid-area: AAA;
    
}

#hire{
    line-height: 1.6em;
    align-self: center;
    margin: 0 auto;
   font-size: 20px;
width: 320px;
max-width: 90%;}
/* #hire{
    font-size: 20px;
width: 350px;
max-width: 90%;} */

.learn{
    display: grid;
    place-items: center;}
/* .more{
    padding: 10px 20px;
    color: white;
    background-color: #324AA4;
    border-color: #324AA4;
}    
.more:hover{
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #000000;
 } 
 .more:focus{
 font-weight: bold;
    border: solid 5px;
    background-color: #fff;
    border-color: #324AA4;
    outline: #324AA4;
color: black;} */
/* main div1 end */

/* main div1 start */
.whatwedo{
    
    display: grid;
   grid-area: whatwedo;
   background-color:  #e2e5fa;
   display: grid;
   width: 100%;
   height:100%;
   grid-template-columns:0.5fr 1.5fr ;
   grid-template-rows:0.4fr 0.8fr 0.2fr;
   grid-template-areas: "welove welove" " BBB sign1" " learn sign1";
   margin: 0 auto;
font-family: Montserrat;
padding-bottom: 30px;
} 
.welove{
   font-size: 30px;
   grid-area: welove;
   align-self: center;
   justify-self: center;

}
.sign1{
   grid-area: sign1;
   max-width: 95%;
   justify-self: end;
   
}
.BBB p{
   grid-area: BBB;
   
}
#hire2{
    line-height: 1.6em;
    align-self: center;
    margin: 0 auto;
   font-size: 20px;
width: 320px;
max-width: 90%;}

.learn{
   display: grid;
   place-items: center;}

/* main div1 end */

/* footer property starts */
footer{
    
    grid-area: footer;
    background-color: #FFF;
    display: grid;
    width: 90%;
    height:100%;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:2fr;
    grid-template-areas: "footerbox1 footerbox2 footerbox3 footerbox4 footerbox5 footerbox6" ;
    margin: 0 auto;
font-family: Montserrat;}
    
    

footer li{
    list-style-type: none;
    padding: 5px 0px 5px 30px;}
.footerbox1{grid-area: footerbox1;
align-content: center;
margin: 0 auto;}
.footerbox2{grid-area: footerbox2;}
.footerbox3{grid-area: footerbox3;}
.footerbox4{grid-area: footerbox4;}
.footerbox5{grid-area: footerbox5;}
.footerbox6{grid-area: footerbox6;
    position: relative;}
    .SNS{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    

    
    /* footer property end */



   /* hamburger           start       */

   .mobile-nav{
    height: 100px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.humburger{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.humburger:hover{
    

    color: #FFF;
    background-color: #324AA4;}


.humburger:focus{
    
    outline: solid 3px #324AA4;
    outline-offset: 3px;
}

    .mobile-navlist{
        display: block;
        position: absolute;
        top: 100px;
        left:0;
        width: 100%;
    background-color: white;
        text-align: center;
        padding: 30px;
        font-family: Montserrat;
        font-size: 16px;
        line-height: 2em;
    }     



 /* .mobnavlistcenter{
    padding: 5px;
} */

#hamburger #expanded{
    display: none;
} 

 /* hamburger    end    */

@media (max-width:800px){
    .desktop-nav{
        display:none;}
    
        .mobile-navlist{
            display:none;
            position: absolute;
            top: 144px;
            left:0;
            width: 100%;
        background-color: white;
            text-align: left;
            padding: 30px;
            font-family: Montserrat;
            font-size: 16px;
            line-height: 2em;
            
        }     
        
        .mobile-navlist.show{
            display:block;
        }
        
        .mobile-navlist li a{padding: 5px;

        }
        
        p#hire{font-size: 16px;}
        p#hire2{font-size: 16px;}   
     
        .communicate{
    
            display: grid;
           grid-area: communicate;
           background-color: #E9FAFE;
           display: grid;
           width: 100%;
           height:100%;
           grid-template-columns:1fr;
           grid-template-rows:0.4fr 0.4fr 0.6fr 0.4fr;
           grid-template-areas: "connect" "AAA" "sign2" "learn";
           margin: 0 auto;
       font-family: Montserrat;
       padding-bottom: 50px;
       
        } 
    
        #hire{
            line-height: 1.6em;
            align-self: center;
            margin: 0 auto;
           font-size: 20px;
        width: 600px;
        max-width: 90%;
    text-align: center;}
    
        .sign2{
            grid-area: sign2;
            max-width: 95%;
            justify-self: center;
            
        }
        .whatwedo{
    
            display: grid;
           grid-area: whatwedo;
           background-color:  #e2e5fa;
           display: grid;
           width: 100%;
           height:100%;
           grid-template-columns:1fr;
           grid-template-rows:0.4fr 0.5fr 0.6fr 0.4fr;
           grid-template-areas: "welove" "BBB" "sign1" "learn";
           margin: 0 auto;
        font-family: Montserrat;
        padding-bottom: 10px;
        } 
       
        .sign1{
           grid-area: sign1;
           max-width: 95%;
           justify-self: center;
           
        }
        .BBB p{
           grid-area: BBB;
           
        }
        #hire2{
            line-height: 1.6em;
            align-self: center;
            margin: 0 auto;
           font-size: 20px;
        width: 600px;
        max-width: 90%;
    text-align: center;}}
       /* .connect{
           font-size: 30px;
           grid-area: connect;
           align-self: center;
           justify-self: center;
       
       }
     
       .AAA p{
           grid-area: AAA;
           
       }
       
       
       /* #hire{
           font-size: 20px;
       width: 350px;
       max-width: 90%;} */
       
       /* .learn{
           display: grid;
           place-items: center;}
    } */ 
    @media (max-width:1000px){
    p#hire{font-size: 16px;}
    p#hire2{font-size: 16px;}}
@media (min-width:801px){
    .mobile-nav{
        display:none;}}

        @media (min-width:501px) and (max-width:1000px){
                            footer{
                                padding-top: 0;
                                grid-area: footer;
                                background-color: #FFF;
                                display: grid;
                                width: 90%;
                                height: max-content;
                                grid-template-columns:1fr 1fr 1fr 1fr ;
                                grid-template-rows:0.5fr 0.3fr;
                                grid-template-areas: "footerbox2 footerbox3 footerbox4 footerbox5 ""footerbox1 footerbox1 footerbox6 footerbox6 " ;
                                margin: 0 auto;
                            }
                                
                                
                            
                            footer li{
                                list-style-type: none;
                                padding: 5px 0px 5px 30px;}
                            .footerbox1{grid-area: footerbox1;
                            margin-left: 0;}
                            .footerbox2{grid-area: footerbox2;}
                            .footerbox3{grid-area: footerbox3;}
                            .footerbox4{grid-area: footerbox4;}
                            .footerbox5{grid-area: footerbox5;}
                            .footerbox6{grid-area: footerbox6;
                                position: relative;}
                                .SNS{
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                }
                        
                       
                }
                @media (max-width:650px){
                    .circle{width: 550px;
                        height: 550px;
                }
            
                .circle:before{
                    content:'';
                    position: absolute;
                    top: 50px;
                    left: 50px;
                    right: 50px;
                    bottom: 50px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    /* box-shadow: 0 0 50px #0f0,inset 0 0 50px #0f0; */
                    /* box-shadow: 0 0 70px rgb(25, 0, 255),inset 0 0 70px rgb(25, 0, 255); */
                    /* -webkit-box-reflect:below 10px liner-gradient(transparent,#0002); */
                    animation: animate 7s linear infinite;
                }
                .circle:after{
                    content:'';         
                    position: absolute;
                    top: 50px;
                    left: 50px;
                    right: 50px;
                    bottom: 50px;
                    border:1px solid #fff;
                    border-radius: 50%;
                    /* box-shadow: 0 0 50px #0f0,inset 0 0 50px #0f0; */
                    /* box-shadow: 0 0 100px #FFF,inset 0 0 0px #fff; */
                    /* -webkit-box-reflect:below 10px liner-gradient(transparent,#0002); */
                    animation: animate 7s linear infinite;
                }
                @keyframes animate
                {0%
                    {box-shadow: 0 0 35px rgb(25, 0, 255),inset 0 0 35px rgb(25, 0, 255);
                    filter:hue-rotate(0deg)}
                
                    20%
                 {box-shadow: 0 0 40px rgb(25, 0, 255),inset 0 0 40px rgb(25, 0, 255); }
                
                 40%
                 {box-shadow: 0 0 40px rgb(25, 0, 255),inset 0 0 40px rgb(25, 0, 255); }
                
                 60%
                 {box-shadow: 0 0 50px rgb(25, 0, 255),inset 0 0 50px rgb(25, 0, 255); }
                
                 80%
                 {box-shadow: 0 0 60px rgb(25, 0, 255),inset 0 0 60px rgb(25, 0, 255); }
                
                 100% 
                 {box-shadow: 0 0 35px rgb(25, 0, 255),inset 0 0 35px rgb(25, 0, 255);
                    filter:hue-rotate(360deg)} 
                   
                }}
            
                @media (max-width:600px){

                    .footerbox2{display: none;}
                            .footerbox3{display: none;}
                            .footerbox4{display: none;}
                            .footerbox5{display: none;}
             
                    .circle{width: 500px;
                        height: 500px;
                }
                h1{font-size: 14px;}
                a.contactus2{
                    padding: 5px 10px; }

                    .switch{
                        
                        font-size: 14px;
                        
                       
                        
                    }

                    .circle:before{
                        content:'';
                        position: absolute;
                        top: 50px;
                        left: 50px;
                        right: 50px;
                        bottom: 50px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        /* box-shadow: 0 0 50px #0f0,inset 0 0 50px #0f0; */
                        /* box-shadow: 0 0 70px rgb(25, 0, 255),inset 0 0 70px rgb(25, 0, 255); */
                        /* -webkit-box-reflect:below 10px liner-gradient(transparent,#0002); */
                        animation: animate 7s linear infinite;
                    }
                    .circle:after{
                        content:'';         
                        position: absolute;
                        top: 50px;
                        left: 50px;
                        right: 50px;
                        bottom: 50px;
                        border:1px solid #fff;
                        border-radius: 50%;
                        /* box-shadow: 0 0 50px #0f0,inset 0 0 50px #0f0; */
                        /* box-shadow: 0 0 100px #FFF,inset 0 0 0px #fff; */
                        /* -webkit-box-reflect:below 10px liner-gradient(transparent,#0002); */
                        animation: animate 7s linear infinite;
                    }
                    .learn{margin-top: 20px;}
                                   
                                    h2.connect{font-size: 20px;
                                        max-width: 90%;
                                        text-align: center;
                                        
                                        
                                    }
                                    h2.welove{font-size: 20px;
                                        max-width: 90%;
                                        text-align: center;
                                        
                                        
                                    }
                                    p#hire{font-size: 14px;
                                        width: 400px;}
                                    p#hire2{font-size: 14px;
                                        width: 400px;}
                                    
        
                
                                     footer{
                                        padding-top: 0;
                                        grid-area: footer;
                                        background-color: #FFF;
                                        display: grid;
                                        width: 90%;
                                        height: max-content;
                                        grid-template-columns:1fr 1fr  ;
                                        grid-template-rows:0.5fr ;
                                        grid-template-areas: "footerbox1 footerbox6 " ;
                                        margin: 0 auto;
                                        font-size: 14px;
                                    } 
                                        
                                        
                                    
                                    footer li{display:none;}
                                    .footerbox1{grid-area: footerbox1;
                                    margin-left: 0;}
                                    /* .footerbox2{grid-area: footerbox2;}
                                    .footerbox3{grid-area: footerbox3;}
                                    .footerbox4{grid-area: footerbox4;}
                                    .footerbox5{grid-area: footerbox5;} */
                                    .footerbox6{grid-area: footerbox6;
                                        position: relative;}
                                        .SNS{
                                            position: absolute;
                                            bottom: 0;
                                            right: 0;
                                        }
                                
                               
                        }   
                        
                        @media (max-width:500px){
                            

                            
             
                            .circle{width: 400px;
                                height: 400px;
                        }
                        
        
                            .circle:before{
                                content:'';
                                position: absolute;
                                top: 50px;
                                left: 50px;
                                right: 50px;
                                bottom: 50px;
                                border: 1px solid #fff;
                                border-radius: 50%;
                                /* box-shadow: 0 0 50px #0f0,inset 0 0 50px #0f0; */
                                /* box-shadow: 0 0 70px rgb(25, 0, 255),inset 0 0 70px rgb(25, 0, 255); */
                                /* -webkit-box-reflect:below 10px liner-gradient(transparent,#0002); */
                                animation: animate 7s linear infinite;
                            }
                            .circle:after{
                                content:'';         
                                position: absolute;
                                top: 50px;
                                left: 50px;
                                right: 50px;
                                bottom: 50px;
                                border:1px solid #fff;
                                border-radius: 50%;
                                /* box-shadow: 0 0 50px #0f0,inset 0 0 50px #0f0; */
                                /* box-shadow: 0 0 100px #FFF,inset 0 0 0px #fff; */
                                /* -webkit-box-reflect:below 10px liner-gradient(transparent,#0002); */
                                animation: animate 7s linear infinite;
                            }
                        #hire{width: 400px;}
                        #hire2{width: 400px;} 
                    
                        .whatwedo{
    
                        padding-bottom: 0;
                        margin-bottom: 20px;
                        } 
                        .animationswitch{
                            font-size: 12px;
                            position: absolute;
                            bottom: 1%;
                            left: 2%;
                           
                            
                        }}